{% extends "base/base_site.html" %}
{% load static %}
{% load crispy_forms_filters %}
{% block extrastylesheets %}
    <!-- Custom Theme Style -->
    <link href="  {% static 'gentelella/build/css/custom.min.css' %}" rel="stylesheet">
{% endblock extrastylesheets %}
{% block body %}
    {% block content %}
        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Multilevel Menu <small> Page to demonstrate multilevel menu</small></h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->
    {% endblock content %}
{% endblock body %}